
<!doctype html>
<html>

<head>
    <title>selection</title>
</head>
<body>
<!--// 插入指定元素到指定位置-->
<p>点击插入至鼠标位置(多选显示选中内容)</p>
<p id="p1" contenteditable="true" onclick="insertMourse()"><b>Hello<span style="color: red">你好</span></b>World</p>
<input type="button" value="插入至固定偏移位置" onclick="insertSpan()" />
<br><br><br>
<p>点击控制鼠标</p>
<p id="p2" contenteditable="true" ><b>Hello<span style="color: red">你好</span></b>Worl<span style="color: red">d</span>haha</p>
<input type="button" value="控制光标位置（最后一个节点前）" onclick="setMourse()" />
<input type="button" value="控制选中hello" onclick="setMourseSel()" />
<input type="button" value="通过range获取最后一个字符串的样式" onclick="getlastStrstyle()" />
<input type="button" name="btnMove" value="移动" onclick="moveCursor()"/>
</body>
<script>

    // 插入固定位置
    function insertSpan() {

        debugger;
        var oP1 = document.getElementById("p1");
        var oHello = oP1.firstChild.firstChild;
        var oWorld = oP1.lastChild;
        var oRange = document.createRange();
        var oSpan = document.createElement("span");
        oSpan.style.color = "red";
        oSpan.appendChild(document.createTextNode("Inserted text"));

        oRange.setStart(oHello, 1);
        oRange.setEnd(oWorld, 3);
        oRange.insertNode(oSpan);
    }


    //插入至鼠标位置
    function insertMourse() {

       //获取鼠标位置
        var selection  = document.getSelection();
        // var selection = window.getSelection();
        var rang = selection.getRangeAt(0);
        alert("选中内容："+rang.toString());

        alert("开始文本："+rang.startContainer.textContent);
        alert("偏移度："+rang.startOffset);

        alert("结束文本："+rang.endContainer.textContent);
        alert("偏移度："+rang.endOffset);

        var oSpan = document.createElement("span");
        oSpan.style.color = "red";
        oSpan.appendChild(document.createTextNode("鼠标插入"));
        rang.insertNode(oSpan);
    }
    
    

    //设置光标位置
    function setMourse(ctrl){

        // var ctrl = document.getElementById("p2");
//----------------只适用于TEXTAREA 等文本域----------------//
        // if(ctrl.setSelectionRange)
        // {
        //     ctrl.focus();
        //     ctrl.setSelectionRange(1,1);
        // }
        // else if (ctrl.createTextRange) {
        //     var range = ctrl.createTextRange();
        //     range.collapse(true);
        //     range.moveEnd('character', pos);
        //     range.moveStart('character', pos);
        //     range.select();
        // }

//---------------------------------------------------------//
        var sel = document.getSelection();
        var range = document.createRange();
        var oP1 = document.getElementById("p2");

        //光标停在 d 前面
        var oWorld = oP1.lastChild;
        sel.removeAllRanges();
        // range.setStart(oWorld,1);
        range.setStartBefore(oWorld);
        range.collapse(true);
        sel.addRange(range);
    }


    //鼠标选中
    function  setMourseSel(){
        var sel = document.getSelection();
        var range = document.createRange();
        var oP1 = document.getElementById("p2");
        var oHello = oP1.firstChild.firstChild;
        range.selectNode(oHello);
        sel.removeAllRanges();
        sel.addRange(range);
    }

    //获取最后一个字符串样式
    function  getlastStrstyle(){
        var sel = document.getSelection();
        var range = document.createRange();
        var oP1 = document.getElementById("p2");

        //光标停在 world 中间
        var oWorld = oP1.lastChild;
        sel.removeAllRanges();
        range.setStartAfter(oP1);
        range.moveEnd("character",-1);
        debugger;
        // sel.addRange(range);
    }

    function moveCursor()
    {
        var temp = document.getElementsByName("txtNum").values();
        var rng = document.getElementsByName("txtTest").createTextRange();
        rng.move("character",temp);
        rng.select();
    }

</script>
</html>
