<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include("/views/common/head.html",{"title":"荷兰风车"}){}%>
</head>
<h1>登陆成功</h1>用户名：${CURUSER.name}
<button onclick="window.location.href='/logout'">退出登录</button>

<h1>功能列表</h1>
<div>
    <button onclick="window.open('${WEBURL}/nio/socket')">socket</button>
    <button onclick="window.open('${WEBURL}/print/print.html')">打印</button>
    <button onclick="window.open('${WEBURL}/selection/selection.html')">鼠标选中区</button>

</div>
</body>
</html>